<section id="content">
  <!--start page contents-->



  <!-- area: main -->


  <div class="clr"></div>

  <!--end page contents-->
</section>

<footer class="footer" id="footer">
  <div class="LoginArea">
    <%= form_tag sessions_path do %>

          <%= email_field_tag :email, params[:email], :id => 'LoginUsername' %>
          <%= password_field_tag :password, params[:password], :id => 'LoginPIN' %>
        </div>
        <div class="button-login"><%= submit_tag "  ", { :name => "0", :class => "button-login-hidden"} %></div>
    <% end %>




  <div class="clr"></div>
</footer>