<!-- area: main -->



<!-- area: main -->
<div id="whole" class="Main ColWhole">

  <!-- UI: login -->

  <div class="loginScreen graybox">


    <div class="Col2">
      <h1>Login</h1><hr />
      <%= form_tag sessions_path do %>
      <div class="LogLeft"> <label>E-Mail</label></div>
      <div class="LogRight"> <%= email_field_tag :email, params[:email], :size => 17, :id => 'LoginEmail' %></div>
      <div class="clr"></div>
      <div class="LogLeft"> <label>Pin</label></div>
      <div class="LogRight"> <%= password_field_tag :password, params[:password], :size => 17, :id => 'LoginPin' %></div>
      <div class="clr"></div>


      <hr />

      <%= submit_tag "Login", { :name => "1", :id => "LoginButton"} %>
      <% end %>

    </div>
    <div class="clr"></div>
  </div>

  <div class="clr"></div>




</div>
