<h1>Listing checkins</h1>

<table>
  <tr>
    <th>Checkin Location</th>
    <th>Checkin time</th>
    <th>Added hours</th>
    <th>Added mins</th>
  </tr>

  <% @outstanding.checkins.each do |checkin| %>
      <% if @outstanding.panic_deadline_holding == checkin.checkin_time %>
          <tr>
            <td><a href="http://maps.google.com/maps?q=<%= checkin.latitude %>,<%= checkin.longitude %>">Google Map</a></td>
            <td>Original Alert</td>
            <td><%= checkin.checkin_hours %></td>
            <td><%= checkin.checkin_mins %></td>
          </tr>
      <% else %>
          <tr>
            <td><a href="http://maps.google.com/maps?q=<%= checkin.latitude %>,<%= checkin.longitude %>">Google Map</a></td>
            <td><%= checkin.checkin_time %></td>
            <td><%= checkin.checkin_hours %></td>
            <td><%= checkin.checkin_mins %></td>
          </tr>
      <% end %>
      
  <% end %>
</table>
<br />