<section id="content">
  <!--start page contents-->
  <!-- area: clock readout -->
  <div class="checkin-counter">


    <%=  image_tag "webapp/clock/0.png", :id => "dig1" %>
    <%=  image_tag "webapp/clock/0.png", :id => "dig2" %>
    <%=  image_tag "webapp/clock/colon.png" %>
    <%=  image_tag "webapp/clock/3.png", :id => "dig3" %>
    <%=  image_tag "webapp/clock/0.png", :id => "dig4" %>
  </div>




  <!-- area: main -->
  <div id="whole" class="Main ColWhole">
    <div class="checkin-numpad">
      <form name="pin_pad">
        <input type="button" onclick="numKeys(1)" class="nbutton n1"/>
        <input type="button" onclick="numKeys(2)" class="nbutton n2"/>
        <input type="button" onclick="numKeys(3)" class="nbutton n3"/>
        <br />
        <input type="button" onclick="numKeys(4)" class="nbutton n4"/>
        <input type="button" onclick="numKeys(5)" class="nbutton n5"/>
        <input type="button" onclick="numKeys(6)" class="nbutton n6"/>
        <br />
        <input type="button" onclick="numKeys(7)" class="nbutton n7"/>
        <input type="button" onclick="numKeys(8)" class="nbutton n8"/>
        <input type="button" onclick="numKeys(9)" class="nbutton n9"/>
        <br />
        <input type="button" onclick="backspace()" class="nbutton n10"/>
        <input type="button" onclick="numKeys(0)" class="nbutton n11"/>
        <input type="button" onclick="clearPin()" class="nbutton n12">
        <br />
      </form>

      <div class="clr"></div>

    </div>
    <div class="clr"></div>
  </div>

  <div class="clr"></div>

  <!--end page contents-->
</section>
<div class="clr"></div>
<footer class="footer" id="footer">
  <div>
    <%= form_for([@organization, @outstanding]) do |f| %>


        <%= f.hidden_field :deadline_hours, :id => 'hours_field'   %>
        <%= f.hidden_field :deadline_mins,  :id => 'mins_field' %>
        <%= f.hidden_field :latitude, :id => "latitude" %>
        <%= f.hidden_field :longitude, :id => "longitude" %>
        <%= f.hidden_field :manual_panic, :value => false %>
        <div class="button-activate"><%= f.submit "  ", :class => "button-activate-hidden" %></div>
    <% end %>

  </div>
</footer>
