<%= form_for([@organization, @outstanding]) do |f| %>

  <div class="field">
    <%= f.select :deadline_hours, options_for_select(Array(0..99), 0)  %><%= f.label :deadline_hours %>
    <%= f.select :deadline_mins, options_for_select(Array(0..59), 0) %><%= f.label :deadline_mins %>
    <%= f.hidden_field :latitude, :id => "latitude" %>
    <%= f.hidden_field :longitude, :id => "longitude" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
