
<!-- area: main -->
<div id="whole" class="Main ColWhole">

  <!--generate user alerts table -->

  <table class="Table-UserAlert">
    <tr>
      <th>Last Name</th>
      <th>First Name</th>
      <th>Check Out Duration</th>
    <!--  <th>Extended Time</th>  -->
      <th>Time Expired</th>
      <th>Status</th>
      <th>Location on Record</th>
    <!--  <th></th> -->
      <th>Delete</th>
    </tr>
    


    <!-- start generated rows here -->
    <% @organization.outstandings.each do |outstanding| %>
        <% if outstanding.history_cutoff(@organization) %>
            <% outstanding.status_image(@organization) %>

            <tr>
              <% user = User.find_by_id(outstanding.user_id) %>
              <td><%= user.name_last %> &nbsp;</td>
              <td><%= user.name_first%> &nbsp;</td>
        <td><%= outstanding.deadline_hours %>:<%= outstanding.deadline_mins %>:00</td>
     <!--   <td>..:..:..</td>  -->
        <td><%= outstanding.panic_deadline %></td>
        <td>
          <img src="/assets/images/stoplight-red.jpg">
        </td>
        <td><a href="http://maps.google.com/maps?q=<%= outstanding.latitude  %>,<%= outstanding.longitude%>" target="_blank">Link to Map</a></td>
     <!--   <td><%= link_to 'Show', organization_outstanding_path(@organization, outstanding) %></td>  -->
        <td><%= link_to 'Destroy', organization_outstanding_path(@organization, outstanding), confirm: 'Are you sure?', method: :delete %></td>
        </tr>
            <% end %>
    <% end %>




    <!-- close user alerts table -->

  </table>

  <!-- end user alerts table -->


</div>
<div class="clr"></div>