<!-- area: main -->
<div id="whole" class="Main ColWhole">

  <!--generate user alerts table -->

  <table class="Table-UserAlert">
    <tr>
      <th>Last Name</th>
      <th>First Name</th>
      <th>Check Out Duration</th>
    <!--  <th>Extended Time</th>  -->
      <th>Time Remaining</th>
      <th>Status</th>
      <th>Location on Record</th>
    <!--  <th>Show</th>  -->
      <th>Delete</th>
    </tr>

    <!-- start generated rows here -->
    <% @organization.outstandings.each do |outstanding| %>

        <% outstanding.status_image(@organization) %>
        <% if outstanding.check_not_expired %>
            <tr>
              <% user = User.find_by_id(outstanding.user_id) %>
              <td><%= user.name_last %> &nbsp;</td>
              <td><%= user.name_first%> &nbsp;</td>

              <td><%= outstanding.deadline_hours %>:<%= outstanding.deadline_mins %>:00</td>
           <!--   <td>..:..:..</td>   -->
              <td>
                <% outstanding.time_remaining %>
                <%= outstanding.remaining_hours %> : <%= outstanding.remaining_mins %> : <%= outstanding.remaining_seconds %></td>
              <td>
                <img src="<%= outstanding.status %>">
              </td>
              <td>
                <a href="http://maps.google.com/maps?q=<%= outstanding.latitude  %>,<%= outstanding.longitude%>" target="_blank">Link to Map</a>
              </td>
           <!--   <td><%= link_to 'Show', organization_outstanding_path(@organization, outstanding) %></td>   -->
              <td><%= link_to 'Deactivate', cancel_alert_organization_outstanding_path(@organization, outstanding) %></td>
            </tr>
        <% end %>
     <% end %>




    <!-- close user alerts table -->

  </table>

  <!-- end user alerts table -->


</div>
<div class="clr"></div>