<section id="content">
  <!--start page contents-->

  <!-- area: clock readout -->
  <div class="checkin-counter">
    <%=  image_tag "webapp/clock/dash.png", :id => "dig1" %>
    <%=  image_tag "webapp/clock/dash.png", :id => "dig2" %>
    <%=  image_tag "webapp/clock/dash.png", :id => "dig3" %>
    <%=  image_tag "webapp/clock/dash.png", :id => "dig4" %>
  </div>




  <!-- area: main -->
  <div id="whole" class="Main ColWhole">
    <div class="checkin-numpad">
      <form name="pin_pad">
        <input type="button" onclick="numKeys(1)" class="nbutton n1"/>
        <input type="button" onclick="numKeys(2)" class="nbutton n2"/>
        <input type="button" onclick="numKeys(3)" class="nbutton n3"/>
        <br />
        <input type="button" onclick="numKeys(4)" class="nbutton n4"/>
        <input type="button" onclick="numKeys(5)" class="nbutton n5"/>
        <input type="button" onclick="numKeys(6)" class="nbutton n6"/>
        <br />
        <input type="button" onclick="numKeys(7)" class="nbutton n7"/>
        <input type="button" onclick="numKeys(8)" class="nbutton n8"/>
        <input type="button" onclick="numKeys(9)" class="nbutton n9"/>
        <br />
        <input type="button" onclick="backspace()" class="nbutton n10"/>
        <input type="button" onclick="numKeys(0)" class="nbutton n11"/>
        <input type="button" onclick="clearPin()" class="nbutton n12">
        <br />
      </form>

      <div class="clr"></div>

    </div>
    <div class="clr"></div>
  </div>

  <div class="clr"></div>

  <!--end page contents-->
</section>
<div class="clr"></div>
<footer class="footer" id="footer">
  <div>
    <%= link_to image_tag("webapp/buttons/deactivate.jpg"), cancel_alert_organization_outstanding_path(@organization, @outstanding) %>

  </div>
  </footer>
