<section id="content">
  <!--start page contents-->
  <div class="title-countdown">&nbsp;</div>
  <div class="title-alert">&nbsp;</div>

  <!-- area: clock readout -->
  <div class="countdown-counter">
    <%=  image_tag "webapp/clock/0.png", :id => "dig1" %>
    <%=  image_tag "webapp/clock/0.png", :id => "dig2" %>
    <%=  image_tag "webapp/clock/colon.png", :class => "clock-colon" %>
    <%=  image_tag "webapp/clock/0.png", :id => "dig3" %>
    <%=  image_tag "webapp/clock/0.png", :id => "dig4" %>
    <%=  image_tag "webapp/clock/colon.png", :class => "clock-colon" %>
    <%=  image_tag "webapp/clock/0.png", :id => "dig5" %>
    <%=  image_tag "webapp/clock/0.png", :id => "dig6" %>
  </div>





  <div class="clr"></div>

  <!--end page contents-->
</section>
<div class="clr"></div>
<footer class="footer" id="footer">


  <div><%= link_to image_tag("webapp/buttons/deactivate.jpg"), pin_cancel_organization_outstanding_path(@organization, @outstanding) %> </div>
  <br />
  <br />
  <div><%= link_to image_tag("webapp/buttons/panic.jpg"), panic_alert_organization_outstanding_path(@organization, @outstanding) %>  </div>





</footer>
