<div class="Col1">
<%= form_for [@organization, @user] do |f| %>

    <div class="MenuItem"><div class="MenuItemLabel">First Name:</div> <%= f.text_field :name_first %></div>
    <div class="MenuItem"><div class="MenuItemLabel">Last Name:</div> <%= f.text_field :name_last  %></div>
    <div class="MenuItem"><div class="MenuItemLabel">Email Address:<b style="color: red">*</b></div><%= f.text_field :email  %></div>
    <div class="MenuItem"><div class="MenuItemLabel">PIN:<b style="color: red">*</b></div><%= f.password_field :password, :id => "password_field", :onchange => "add_pin()" %></div>
    <div class="MenuItem"><div class="MenuItemLabel">PIN Confirmation:<b style="color: red">*</b></div><%= f.password_field :password_confirmation  %>  </div>
      <div class="MenuItem"><div class="MenuItemLabel">SMS Reminder Phone #:</div><%= f.text_field :sms  %>  </div>

      <div class="MenuItem"><div class="MenuItemLabel">Is Administrator:</div> <%= f.check_box :admin   %></div>
      <div class="MenuItem"><div class="MenuItemLabel">Registered:<br />(Uncheck to send pin setup email)</div> <%= f.check_box :registered %></div>

    </div>
    <div class="Col2">

      <div class="MenuItem"><div class="MenuItemLabel">Notes:</div> 
        <%= f.text_area :notes   %>
        <%= f.hidden_field :pin, :id => "pin_field" %>
      </div>

    <div class="MenuItem"><div class="MenuItemLabel"><%= flash[:notice] %> <br /><%= f.submit %><input type="reset" value="Reset" /> <b style="color: red">*</b> Required</div>
<% end %>
  </div>
  </div>
