<!--start page contents-->


<div class="clr"></div>
<!-- area: main -->
<div id="whole" class="Main ColWhole">

  <h1>Manage Users - <%= link_to 'Create New User', new_organization_user_path(@organization) %></h1>
  <hr />

  <!--generate user alerts table -->

  <h2>All Registered Users</h2>
  <table class="Table-Users">
    <tr>
      <th>Last Name</th>
      <th>First Name</th>
      <th>E-Mail Address</th>
      <th>PIN*</th>
      <th>Admin?</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

    <!-- start generated rows here -->

    <!-- demo row 1 -->
    <% @organization.users.each do |user| %>
        <tr>
          <td><%= user.name_last%></td>
          <td><%= user.name_first%></td>
          <td><%= user.email%></td>
          <td>XXXX</td>
          <td><%= user.admin%></td>
          <td><%= link_to 'Show', organization_user_path(@organization, user) %></td>
          <td><%= link_to 'Edit', edit_organization_user_path(@organization, user)%></td>
          <td><%= link_to 'Destroy', organization_user_path(@organization, user), {confirm: 'Are you sure?', method: :delete} %></td>
        </tr>
    <% end %>



    <!-- end generated rows here -->

  </table>
  <hr />
  <br />


  <!-- end generated rows here -->



    </div>