<h2>Show User - <%= link_to 'Edit', edit_organization_user_path(@organization)%></h2>
<div class="UserCreateMenu">
<div class="Col1">

      <div class="MenuItem"><div class="MenuItemLabel">First Name:</div> <%= @user.name_first %></div>
      <div class="MenuItem"><div class="MenuItemLabel">Last Name:</div> <%= @user.name_last  %></div>
      <div class="MenuItem"><div class="MenuItemLabel">Email Address:</div><%= @user.email  %></div>
      <div class="MenuItem"><div class="MenuItemLabel">PIN:</div>XXXX</div>
      <div class="MenuItem"><div class="MenuItemLabel">SMS Reminder Phone #:</div><%= @user.sms  %></div>
  <div class="MenuItem"><div class="MenuItemLabel">Is Administrator:</div> <%= @user.admin   %></div>
  <div class="MenuItem"><div class="MenuItemLabel">User PIN set:</div> <%= @user.registered   %></div>
      </div>
      <div class="Col2">

        <div class="MenuItem"><div class="MenuItemLabel">Notes:</div> <%=@user.notes   %></div> </div>



  </div>
  <div class="clr"></div>

  </div>

<hr />