<%= form_for(@global_setting) do |f| %>

    <div class="Col1">
      <div class="MenuItem"><div class="MenuItemLabel">Time Zone:</div> <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones %></div>
      <div class="MenuItem">
        <%= flash[:notice] %> <br />
        <%= f.submit "Save Settings" %> <!--<input type="reset" value="Reset" />  -->

      </div>

      <div class="clr"></div>

    </div>
<% end %>
