<h1>Listing global_settings</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @global_settings.each do |global_setting| %>
  <tr>
    <td><%= link_to 'Show', global_setting %></td>
    <td><%= link_to 'Edit', edit_global_setting_path(global_setting) %></td>
    <td><%= link_to 'Destroy', global_setting, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Global setting', new_global_setting_path %>
