<%= form_for([@organization, @setting], :html => { :multipart => true }) do |f| %>
    <div class="Col1">
      <!--
      <div class="MenuItem"><div class="MenuItemLabel">Color scheme for active alerts:</div>
        <select id="UF-colorscheme">
          <option value="volvo">Default</option>
          <option value="saab">Color Scheme 1</option>
          <option value="mercedes">Color Scheme 2</option>
          <option value="audi">Color Scheme 3</option>
        </select>
      </div>
       -->
      <div class="MenuItem"><div class="MenuItemLabel">Duration of Green Light before countdown:</div> <%= f.number_field :green_hours, {:maxlength => "2",  :size => "4"} %>:<%= f.number_field :green_mins, {:maxlength => "2",  :size => "4"} %> (hours:mins) </div>
      <div class="MenuItem"><div class="MenuItemLabel">Duration of Yellow Light before countdown:</div> <%= f.number_field :yellow_hours, {:maxlength => "2",  :size => "4"} %>:<%= f.number_field :yellow_mins, {:maxlength => "2",  :size => "4"} %> (hours:mins) </div>
      <div class="MenuItem"><div class="MenuItemLabel">Duration of Red Light before countdown:</div> <%= f.number_field :red_hours, {:maxlength => "2",  :size => "4"} %>:<%= f.number_field :red_mins, {:maxlength => "2",  :size => "4"} %> (hours:mins) </div>

      <div class="MenuItem"><div class="MenuItemLabel">Reminder SMS:</div>    <%= f.select :reminder_sms, [["Yes",true],["No",false]]  %></div>

      <div class="MenuItem"><div class="MenuItemLabel">When should SMS reminder be sent?</div>   <%= f.number_field :reminder_sms_hours, {:maxlength => "2",  :size => "4"} %>:<%= f.number_field :reminder_sms_mins, {:maxlength => "2",  :size => "4"} %> (hours:mins) remaining </div>
      <div class="MenuItem"><div class="MenuItemLabel">Time Zone:</div> <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones %></div>
    </div>

    <div class="Col2">
      <div class="MenuItem">
        <div class="MenuItemLabel">
        Company Logo:<br />
        (300 x 90 GIF/JPG/PNG)
        </div><%= @organization.setting.dashboard_logo_file_name %><br />
        <%= f.file_field :dashboard_logo %><br />
        <%= f.check_box :delete_logo, {checked: false} %> Restore System Default
      </div>

      <div class="MenuItem"><div class="MenuItemLabel">Primary Admin User:</div><%= collection_select(:setting, :user_id, @admin_users, :id, :name_last) %> </div>
      <div class="MenuItem"><div class="MenuItemLabel">E-mail address for Alerts:</div><%= f.text_field :alert_emails %></div>
      <div class="MenuItem"><div class="MenuItemLabel">SMS number for Alerts:</div><%= f.text_field :alert_smss %></div>
      <div class="MenuItem"><div class="MenuItemLabel">Show recent items for past:</div><%= f.number_field :history_hours %> hrs</div>

      <div class="MenuItem">
        <%= flash[:notice] %><%= flash[:error] %> <br />
        <%= f.submit "Save Settings" %> <!--<input type="reset" value="Reset" />  -->

    </div>

    <div class="clr"></div>

    </div>
<% end %>
