<div class="clr"></div>
<!-- area: main -->
<div id="whole" class="Main ColWhole">

  <!-- UI: Settings Menu -->
  <h2>Settings</h2>
  <div class="SettingsMenu">


        <%= render 'form' %>



  <!-- End UI: Settings Menu -->
   </div>
</div>








