<h1>Listing settings</h1>

<table>
  <tr>
    <th>Green hours</th>
    <th>Green mins</th>
    <th>Yellow hours</th>
    <th>Yellow mins</th>
    <th>Red hours</th>
    <th>Red mins</th>
    <th>Reminder sms</th>
    <th>Reminder sms hours</th>
    <th>Reminder sms mins</th>
    <th>Logo url</th>
    <th>Comp name</th>
    <th>Alert emails</th>
    <th>Alert smss</th>
    <th>History hours</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @settings.each do |setting| %>
  <tr>
    <td><%= setting.green_hours %></td>
    <td><%= setting.green_mins %></td>
    <td><%= setting.yellow_hours %></td>
    <td><%= setting.yellow_mins %></td>
    <td><%= setting.red_hours %></td>
    <td><%= setting.red_mins %></td>
    <td><%= setting.reminder_sms %></td>
    <td><%= setting.reminder_sms_hours %></td>
    <td><%= setting.reminder_sms_mins %></td>
    <td><%= setting.logo_url %></td>
    <td><%= setting.comp_name %></td>
    <td><%= setting.alert_emails %></td>
    <td><%= setting.alert_smss %></td>
    <td><%= setting.history_hours %></td>
    <td><%= link_to 'Show', setting %></td>
    <td><%= link_to 'Edit', edit_setting_path(setting) %></td>
    <td><%= link_to 'Destroy', setting, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Setting', new_setting_path %>
