<p id="notice"><%= notice %></p>

<p>
  <b>Green hours:</b>
  <%= @setting.green_hours %>
</p>

<p>
  <b>Green mins:</b>
  <%= @setting.green_mins %>
</p>

<p>
  <b>Yellow hours:</b>
  <%= @setting.yellow_hours %>
</p>

<p>
  <b>Yellow mins:</b>
  <%= @setting.yellow_mins %>
</p>

<p>
  <b>Red hours:</b>
  <%= @setting.red_hours %>
</p>

<p>
  <b>Red mins:</b>
  <%= @setting.red_mins %>
</p>

<p>
  <b>Reminder sms:</b>
  <%= @setting.reminder_sms %>
</p>

<p>
  <b>Reminder sms hours:</b>
  <%= @setting.reminder_sms_hours %>
</p>

<p>
  <b>Reminder sms mins:</b>
  <%= @setting.reminder_sms_mins %>
</p>

<p>
  <b>Logo url:</b>
  <%= @setting.logo_url %>
</p>

<p>
  <b>Comp name:</b>
  <%= @setting.comp_name %>
</p>

<p>
  <b>Alert emails:</b>
  <%= @setting.alert_emails %>
</p>

<p>
  <b>Alert smss:</b>
  <%= @setting.alert_smss %>
</p>

<p>
  <b>History hours:</b>
  <%= @setting.history_hours %>
</p>


<%= link_to 'Edit', edit_setting_path(@setting) %> |
<%= link_to 'Back', settings_path %>
