/* custom stylesheet for Guardian Trace */

/* basic layout */
body{background:white;}
a{text-decoration:none;}
a:hover{text-decoration:none;color:#e1b724;}

.inner{width:960px;margin:10px auto;-webkit-box-shadow: 0px 0px 2px 2px #e6e6e6;
-moz-box-shadow: 0px 0px 2px 2px #e6e6e6;
box-shadow: 0px 0px 2px 2px #e6e6e6; }

#content{padding:0px;margin:0px;clear:both;}

.ColLeft{width:340px;float:left;}
.ColRight{width:600px;float:right;}
.ColWhole{width:960px;float:left;margin-top:10px;text-align:center;}

/* colors for use */
.orange{color:#e1b724;}
.grayGradient, .page-login .loginScreen #LoginButton
{
background: rgb(76,76,76);
background: -moz-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(76,76,76,1)), color-stop(12%,rgba(89,89,89,1)), color-stop(25%,rgba(102,102,102,1)), color-stop(39%,rgba(71,71,71,1)), color-stop(50%,rgba(44,44,44,1)), color-stop(51%,rgba(0,0,0,1)), color-stop(60%,rgba(17,17,17,1)), color-stop(76%,rgba(43,43,43,1)), color-stop(91%,rgba(28,28,28,1)), color-stop(100%,rgba(19,19,19,1)));
background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%);
background: -o-linear-gradient(top, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%);
background: -ms-linear-gradient(top, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%);
background: linear-gradient(top, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 );
}

.red{background:url('images/stoplight-red.jpg') no-repeat center top;}
.yellow{background:url('images/stoplight-yellow.jpg') no-repeat center top;}
.green{background:url('images/stoplight-green.jpg') no-repeat center top;}


/* top menu */

.topmenu{height:46px;margin:-20px 0px 0px 0px;width:960px;background:url('images/headerbg.jpg') repeat-x left bottom;padding-top:9px;float:left;}

.MenuItem{float:left;}

.MenuItem1{background:url('images/Nav1.jpg');width:163px;height:43px;margin-left:0px;}
.MenuItem1:hover{background:url('images/Nav1o.jpg');}

.MenuItem2{background:url('images/Nav2.jpg');width:108px;height:43px;}
.MenuItem2:hover{background:url('images/Nav2o.jpg');}

.MenuItem3{background:url('images/Nav3.jpg');width:169px;height:43px;}
.MenuItem3:hover{background:url('images/Nav3o.jpg');}

.MenuItem4{background:url('images/Nav4.jpg');width:105px;height:43px;}
.MenuItem4:hover{background:url('images/Nav4o.jpg');}

.topmenu .MenuItem span{display:none;}

/* header */

.header{height:148px;margin:0px;width:960px;background:url('images/headerbg2.jpg') repeat-x left top;}
.headerLeft{float:left;width:290px;margin:0px;padding:0px;text-align:center;margin-top:15px;}
.headerRight{float:right;width:570px;margin:0px;padding:0px;text-align:center;}
.headerByline{text-align:right;color:#959595;padding:20px;}
.headerByline a{text-decoration:none;color:#666666;}
.Logo{margin:15px auto 0px auto;}

/* footer and copyright */

.footer{background:url('images/footerbg.jpg') no-repeat center top;height:34px;clear:both;text-align:center;font-size:18px;padding-top:9px;color:white;margin:15px auto;}
.footer,.footer a{color:White;text-decoration:none;font-weight:bold;text-shadow: 0px 0px 3px #000000;
filter: dropshadow(color=#000000, offx=0, offy=0);}


.Copyright{text-align:center;font-size:12px;color:#555555;margin-top:10px;}

/* additional styling classes */

.clr{clear:both;}
.graybox{background-color:#e6e6e6;border-radius:7px; }

/* =========== individual page customizations */

 .loginScreen{margin:30px auto;width:400px;height:300px;}
 .loginScreen .Col1{float:left;width:300px;padding:20px;margin:0px;}
 .loginScreen .Col2{float:right;width:360px;padding:20px;margin:0px;}
 .loginScreen .Col2 .LogLeft{float:left;width:27%;margin:0px;padding:4px;clear:both;font-size:22px;}
 .loginScreen .Col2 .LogRight{float:right;width:64%;margin:0px;padding:4px;}
 .loginScreen input{background:black;border-radius:15px;font-size:20px;padding:5px 20px;color:White;}
 .loginScreen #LoginButton{}


.Table-UserAlert{width:100%;margin:0px;}
.Table-UserAlert td{padding:5px;border:solid 1px #e6e6e6;}
.Table-UserAlert th{}
.Table-UserAlert {}
.Table-UserAlert .R6{width:80px;}

.Table-ClosedAlert{width:100%;margin:0px;}
.Table-ClosedAlert td{padding:5px;border:solid 1px #e6e6e6;}
.Table-ClosedAlert th{}
.Table-ClosedAlert {}


.Table-Users{width:100%;margin:0px;}
.Table-Users td{padding:5px;border:solid 1px #e6e6e6;}
.Table-Users th{}
.Table-Users {}
.UserCreateMenu {}
.UserCreateMenu .Col1{width:41%;float:left;margin:0px;padding:2%;}
.UserCreateMenu .Col2{width:50%;float:right;margin:0px;padding:2%;}
.UserCreateMenu .MenuItem{margin:2px;padding:2%;border:solid 1px #e6e6e6;width:96%;text-align:left;}
.UserCreateMenu .MenuItem .MenuItemLabel{width:50%;margin:0px;float:left;}
.UserCreateMenu .Col2 .MenuItem .MenuItemLabel{width:30%;margin:0px;float:left;}


.SettingsMenu{}
.SettingsMenu .Col1{width:41%;float:left;margin:0px;padding:2%;}
.SettingsMenu .Col2{width:50%;float:right;margin:0px;padding:2%;}
.SettingsMenu .MenuItem{margin:2px;padding:2%;border:solid 1px #e6e6e6;width:96%;text-align:left;}
.SettingsMenu .MenuItem .MenuItemLabel{width:50%;margin:0px;float:left;}
.SettingsMenu .Col2 .MenuItem .MenuItemLabel{width:40%;margin:0px;float:left;}

