/* custom stylesheet for Guardian Trace */

/* basic layout */
body{background:black;color:White;font-size:1.75em;}
a{text-decoration:none;}
a:hover{text-decoration:none;color:#e1b724;}

.inner{
    width:952px;
    margin:0px auto;
 /*   border:dashed 4px white;  */
    background:none;
    min-height:1260px;
}
.page-home .inner{background:black url('webapp/BGhome.jpg') no-repeat center top;}

#content{padding:0px;margin:0px;clear:both;height:908px;}

.app-buttons{clear:both;}

.topX{background:url('webapp/X.png') no-repeat center top;width:68px;height:78px;float:right;}
.no_topX{background:url('webapp/no_X.png') no-repeat center top;width:68px;height:78px;float:right;}
/* 


/* colors for use */
.orange{color:#e1b724;}
.grayGradient, .page-login .loginScreen #LoginButton
{
background: rgb(76,76,76);
background: -moz-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(76,76,76,1)), color-stop(12%,rgba(89,89,89,1)), color-stop(25%,rgba(102,102,102,1)), color-stop(39%,rgba(71,71,71,1)), color-stop(50%,rgba(44,44,44,1)), color-stop(51%,rgba(0,0,0,1)), color-stop(60%,rgba(17,17,17,1)), color-stop(76%,rgba(43,43,43,1)), color-stop(91%,rgba(28,28,28,1)), color-stop(100%,rgba(19,19,19,1)));
background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%);
background: -o-linear-gradient(top, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%);
background: -ms-linear-gradient(top, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%);
background: linear-gradient(top, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 );
}
.red{background-color:Red;}
.yellow{background-color:Yellow;}
.green{background-color:Green;}

/* form elements */

/* graphical buttons */

.button-home{background:url('webapp/buttons/home.jpg') no-repeat center top; height:127px;}
.button-deactivate{background:url('webapp/buttons/deactivate.jpg') no-repeat center top; height:127px;margin-bottom:47px;}
.button-panic{background:url('webapp/buttons/panic.jpg') no-repeat center top; height:127px;}
.button-activate{background:transparent url('webapp/buttons/activate.png') no-repeat center top;height:126px;width:777px;margin:20px auto;margin-top:50px;}
.button-activate-hidden{background:transparent url('webapp/buttons/activate.png');height:126px;width:777px;}
.button-login{background:transparent url('webapp/buttons/login.png');height:126px;width:777px;margin:20px auto;margin-top:-130px;}
.button-login-hidden{background:transparent url('webapp/buttons/login.png');height:126px;width:777px;}

.button-deactivate span {
    width:100%;
    height:100%;
    position:absolute;
    z-index:2;
    top:0px;
    left:0px;
}

.title-countdown{background:url('webapp/title/countdown.jpg') no-repeat center top;height:80px;clear:both;}
.title-alert{background:url('webapp/title/alert.jpg') no-repeat center top;height:59px;clear:both;margin:220px auto 10px auto;}
.title-checkout{background:url('webapp/title/checkout.jpg') no-repeat center top;height:79px;clear:both;}

/* footer and copyright */

.footer{height:34px;clear:both;text-align:center;font-size:18px;padding-top:9px;color:white;margin:15px auto;}
.footer,.footer a{color:White;text-decoration:none;font-weight:bold;text-shadow: 0px 0px 3px #000000;
filter: dropshadow(color=#000000, offx=0, offy=0);}


.Copyright{text-align:center;font-size:12px;color:#555555;margin-top:10px;}

/* additional styling classes */

.clr{clear:both;}
.graybox{background-color:#c2c2c2;border-radius:7px;}

/* =========== individual page customizations */


/* > login page */
.page-login .loginScreen{margin:30px auto;width:740px;height:400px;}
.page-login .loginScreen .Col1{float:left;width:300px;padding:20px;margin:0px;}
.page-login .loginScreen .Col2{float:right;width:360px;padding:20px;margin:0px;}
.page-login .loginScreen input{background:black;border-radius:15px;font-size:20px;padding:5px;color:White;}
.page-login .loginScreen #LoginButton{}
.page-login #content{background:black url('webapp/BGhome.jpg') no-repeat center top;height:600px;}
.page-login .LoginArea{background:url('webapp/content/LoginBack.jpg') no-repeat center top;height:554px;}
.page-login .ActivateArea{background:url('webapp/content/ActivateBack.jpg') no-repeat center top;height:554px;}
.page-login .ActivateArea input#LoginUsername{width:722px;height:51px;padding:10px 10px 10px 25px;font-size:50px;background:none;border:none;color:white;margin-top:125px;}
.page-login .ActivateArea input#LoginPIN{width:722px;height:51px;padding:10px 10px 10px 25px;font-size:50px;background:none;border:none;color:white;margin-top:90px;}
.page-login .LoginArea input#LoginUsername{width:722px;height:51px;padding:10px 10px 10px 25px;font-size:50px;background:none;border:none;color:white;margin-top:125px;}
.page-login .LoginArea input#LoginPIN{width:722px;height:51px;padding:10px 10px 10px 25px;font-size:50px;background:none;border:none;color:white;margin-top:90px;}


/* > alert page */
.page-alert #content{background:black url('webapp/content/alert.jpg') no-repeat center top;}

/* > error page */
.page-error #content{background:black url('webapp/BGhome.jpg') no-repeat center top;}

/* > checkin page */
.page-checkin .checkin-counter{width:90%;padding:5%;margin:0px;height:238px;padding-top:35px;background:transparent;text-align:center;}
.page-checkin .checkin-numpad{padding-left:18px;}
.page-checkin .checkin-numpad .nbutton{width:308px;height:156px;border:0px;float:left;margin:0px;padding:0px;}
.page-checkin .checkin-numpad .n1{background:black url('webapp/keypad/1.jpg') no-repeat center top;}
.page-checkin .checkin-numpad .n2{background:black url('webapp/keypad/2.jpg') no-repeat center top;}
.page-checkin .checkin-numpad .n3{background:black url('webapp/keypad/3.jpg') no-repeat center top;}
.page-checkin .checkin-numpad .n4{background:black url('webapp/keypad/4.jpg') no-repeat center top;}
.page-checkin .checkin-numpad .n5{background:black url('webapp/keypad/5.jpg') no-repeat center top;}
.page-checkin .checkin-numpad .n6{background:black url('webapp/keypad/6.jpg') no-repeat center top;}
.page-checkin .checkin-numpad .n7{background:black url('webapp/keypad/7.jpg') no-repeat center top;}
.page-checkin .checkin-numpad .n8{background:black url('webapp/keypad/8.jpg') no-repeat center top;}
.page-checkin .checkin-numpad .n9{background:black url('webapp/keypad/9.jpg') no-repeat center top;}
.page-checkin .checkin-numpad .n10{background:black url('webapp/keypad/back.jpg') no-repeat center top;}
.page-checkin .checkin-numpad .n11{background:black url('webapp/keypad/0.jpg') no-repeat center top;}
.page-checkin .checkin-numpad .n12{background:black url('webapp/keypad/clear.jpg') no-repeat center top;}

/* > checkout page */
.page-checkout #content{height:580px;}
.page-checkout .checkout-counter{width:90%;padding:5%;margin:0px;height:238px;padding-top:35px;background:transparent;text-align:center;}
.page-checkout #checkout-ControlWheel{height:441px;padding:0px;text-align:center;width:600px;margin:0px;clear:both;}
.page-checkout #date1{width:80%;background:none;border:none;height:300px;}

/* > countdown page */
.page-countdown #content{height:808px;}
.page-countdown .countdown-counter{width:90%;padding:5%;margin:0px;height:238px;padding-top:35px;background:transparent;text-align:center;}
.clock-colon {margin:0px 12px;}








