<%= form_for(@organization, :html => { :multipart => true }) do |f| %>
    <div class="Col1">

      <div class="MenuItem"><div class="MenuItemLabel">Account Name:<b style="color: red">*</b></div> <%= f.text_field :org_name %></div>
      <div class="MenuItem"><div class="MenuItemLabel">Address Line 1:</div> <%= f.text_field :address1 %></div>
      <div class="MenuItem"><div class="MenuItemLabel">Address Line 2:</div> <%= f.text_field :address2 %></div>
      <div class="MenuItem"><div class="MenuItemLabel">City:</div> <%= f.text_field :city %></div>
      <div class="MenuItem"><div class="MenuItemLabel">State:</div> <%= f.text_field :state %></div>
      <div class="MenuItem"><div class="MenuItemLabel">Postal Code:</div> <%= f.text_field :postal_code %></div>
      <div class="MenuItem"><div class="MenuItemLabel">Country:</div> <%= f.text_field :country %></div>

      <div class="MenuItem"><div class="MenuItemLabel">Active Account?</div> <%= f.check_box :active %></div>

      <%= f.fields_for :setting do |setting| %>
          <div class="MenuItem"><div class="MenuItemLabel">Logo Image:<br />(300 x 90 GIF/JPG/PNG)</div><%= @organization.setting.dashboard_logo_file_name %><%= setting.file_field :dashboard_logo %></div>
          <%= setting.hidden_field :green_hours, :value => 99 %>
          <%= setting.hidden_field :green_mins, :value => 59 %>
          <%= setting.hidden_field :yellow_hours, :value => 0 %>
          <%= setting.hidden_field :yellow_mins, :value => 15 %>
          <%= setting.hidden_field :red_hours, :value => 0 %>
          <%= setting.hidden_field :red_mins, :value => 0 %>
          <%= setting.hidden_field :reminder_sms, :value => true %>
          <%= setting.hidden_field :reminder_sms_hours, :value => 0 %>
          <%= setting.hidden_field :reminder_sms_mins, :value => 15 %>
          <%= setting.hidden_field :history_hours, :value => 24 %>
      <% end %>

      </div>

    <div class="Col2">
      <div class="MenuItem"><div class="MenuItemLabel"><b>Administrator Account</b></div></div>

      <%= f.fields_for :users do |user| %>
    <div class="MenuItem"><div class="MenuItemLabel">First Name:</div> <%= user.text_field :name_first %></div>
          <div class="MenuItem"><div class="MenuItemLabel">Last Name:</div> <%= user.text_field :name_last  %></div>
          <div class="MenuItem"><div class="MenuItemLabel">Email Address:<b style="color: red">*</b></div><%= user.text_field :email  %></div>
          <div class="MenuItem"><div class="MenuItemLabel">PIN:<b style="color: red">*</b></div><%= user.password_field :password, :id => "password_field", :onchange => "add_pin()" %></div>
          <div class="MenuItem"><div class="MenuItemLabel">PIN Confirmation:<b style="color: red">*</b></div><%= user.password_field :password_confirmation  %>  </div>
          <div class="MenuItem"><div class="MenuItemLabel">SMS Reminder Phone #:</div><%= user.text_field :sms  %>  </div>
          <%= user.hidden_field :pin, :id => "pin_field" %>
          <div class="MenuItem"><div class="MenuItemLabel">Is Administrator:</div> <%= user.check_box :admin, {checked: true} %></div>
          <div class="MenuItem"><div class="MenuItemLabel">Send PIN Setup Email:</div> <%= user.check_box :send_pw_setup_email   %></div>
      <% end %>


          <div class="MenuItem">
        <%= flash[:notice] %> <br />
        <%= f.submit "Create Organization" %> <!--<input type="reset" value="Reset" />  -->
            <b style="color: red">*</b> Required
      </div>

      <div class="clr"></div>

    </div>
<% end %>