<div class="clr"></div>
<!-- area: main -->
<div id="whole" class="Main ColWhole">

  <!-- UI: Settings Menu -->
  <h2>Edit Organization</h2>
  <div class="SettingsMenu">


    <%= render 'edit_form' %>



    <!-- End UI: Settings Menu -->
  </div>
</div>