

<!-- area: main -->
<div id="whole" class="Main ColWhole">

  <h1>Active Accounts</h1>

  <!--generate user alerts table -->

  <table class="Table-UserAlert">
    <tr>
      <th>Account Name</th>
      <th>Primary Email Address</th>
      <th>Users</th>
      <th></th>

    </tr>

    <!-- start generated rows here -->
    <% @organizations.each do |org| %>
        <tr>
        <% org.save_admin_user_to_settings %>
        <% @user = User.find(org.setting.user_id) %>
          <td><%= org.org_name %></td>
          <td><%= @user.email %></td>
          <td><%= org.users.count %></td>
          <td><%= link_to "Log In", organization_path(org) %></td>
        </tr>
    <% end %>




    <!-- close user alerts table -->

  </table>

  <!-- end user alerts table -->


</div>
<div class="clr"></div>