<!-- area: main -->
<div id="whole" class="Main ColWhole">

  <h1>Manage Accounts - <%= link_to "Create New Account", new_organization_path %></h1>

  <!--generate user alerts table -->

  <table class="Table-UserAlert">
    <tr>
      <th>Account Name</th>
      <th>Admin User</th>
      <th>Email</th>
      <th>PIN</th>
      <th>Active</th>
      <th></th>
      <th></th>
      <th></th>

    </tr>

    <!-- start generated rows here -->
    <% @organizations.each do |org| %>
        <tr>
        <% org.set_status_image %>
        <% org.save_admin_user_to_settings %>
          <% @user = User.find(org.setting.user_id) %>
          <td><%= org.org_name %></td>
          <td><%= @user.name_last %>, <%= @user.name_first %></td>
          <td><%= @user.email %></td>
          <td><%= @user.pin %></td>
          <td><img src="<%= org.status_image %>"></td>
          <td><%= link_to "Log In", organization_path(org) %></td>
          <td><%= link_to 'Edit', edit_organization_path(org) %></td>
          <td><%= link_to 'Deactivate', :model => "organizations", :action => "deactivate_account", :id => org.id %></td>
        </tr>
    <% end %>




    <!-- close user alerts table -->

  </table>

  <!-- end user alerts table -->


</div>
<div class="clr"></div>