<p id="notice"><%= notice %></p>

<p>
  <b>Org name:</b>
  <%= @organization.org_name %>
</p>

<p>
  <b>Primary email:</b>
  <%= @organization.primary_email %>
</p>

<p>
  <b>User:</b>
  <%= @organization.user_id %>
</p>

<p>
  <b>Address1:</b>
  <%= @organization.address1 %>
</p>

<p>
  <b>Address2:</b>
  <%= @organization.address2 %>
</p>

<p>
  <b>City:</b>
  <%= @organization.city %>
</p>

<p>
  <b>State:</b>
  <%= @organization.state %>
</p>

<p>
  <b>Postal code:</b>
  <%= @organization.postal_code %>
</p>

<p>
  <b>Country:</b>
  <%= @organization.country %>
</p>

<p>
  <b>Logo image:</b>
  <%= @organization.logo_image %>
</p>


<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
