<%= form_for(@checkin) do |f| %>
  <% if @checkin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@checkin.errors.count, "error") %> prohibited this checkin from being saved:</h2>

      <ul>
      <% @checkin.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.select :checkin_hours, options_for_select(Array(0..99), 0)  %><%= f.label :checkin_hours %>
    <%= f.select :checkin_mins, options_for_select(Array(1..59), 30) %><%= f.label :checkin_mins %>
    <%= f.text_field :latitude %>
    <%= f.text_field :longitude %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
