<h1>Listing checkins</h1>

<table>
  <tr>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Checkin time</th>
    <th>Updated deadline</th>
    <th>Outstanding</th>
    <th>Checkin hours</th>
    <th>Checkin mins</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @checkins.each do |checkin| %>
  <tr>
    <td><%= checkin.latitude %></td>
    <td><%= checkin.longitude %></td>
    <td><%= checkin.checkin_time %></td>
    <td><%= checkin.updated_deadline %></td>
    <td><%= checkin.outstanding_id %></td>
    <td><%= checkin.checkin_hours %></td>
    <td><%= checkin.checkin_mins %></td>
    <td><%= link_to 'Show', checkin %></td>
    <td><%= link_to 'Edit', edit_checkin_path(checkin) %></td>
    <td><%= link_to 'Destroy', checkin, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Checkin', new_checkin_path %>
