<p id="notice"><%= notice %></p>

<p>
  <b>Latitude:</b>
  <%= @checkin.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @checkin.longitude %>
</p>

<p>
  <b>Checkin time:</b>
  <%= @checkin.checkin_time %>
</p>

<p>
  <b>Updated deadline:</b>
  <%= @checkin.updated_deadline %>
</p>

<p>
  <b>Outstanding:</b>
  <%= @checkin.outstanding_id %>
</p>

<p>
  <b>Checkin hours:</b>
  <%= @checkin.checkin_hours %>
</p>

<p>
  <b>Checkin mins:</b>
  <%= @checkin.checkin_mins %>
</p>


<%= link_to 'Edit', edit_checkin_path(@checkin) %> |
<%= link_to 'Back', checkins_path %>
