<!DOCTYPE HTML>
<html>
    <head>
    <title>Guardian Trace - alert</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
      <%= stylesheet_link_tag 'style_mobile'%>
    </head>
    <body class="GTpage page-alert">
    <div class="inner">
  
       <header class="header" id="header">
<a href="logout"><div class="topX"></div></a>
       
       
       </header>

       <section id="content">
       <!--start page contents-->


       


       
       <!--end page contents-->
       </section>
       <div class="clr"></div>
       <footer class="footer" id="footer">
         
        <%=  yield %>
       
       
       </footer>
     
    </div>
    <div class="clr"></div>
      <div class="Copyright">&copy; 2012 Austin Themes. Website for preview only. All rights reserved until final payment.</div>
    </body>
</html>