<!DOCTYPE HTML>
<html>
<head>
  <title>Guardian Trace</title>
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag 'style_mobile'%>
  <%= render "layouts/apple_webapp" %>
  <script type="text/javascript">

        var saved_pin = "<%= current_user.pin%>";
        var entered_pin = "";
        var pin_count = 0;

        var img1 = null;
        var img2 = null;
        var img3 = null;
        var img4 = null;

        function inits() {

        if(img1===null) img1  =  document.getElementById("dig1");
        if(img2===null) img2  =  document.getElementById("dig2");
        if(img3===null) img3  =  document.getElementById("dig3");
        if(img4===null) img4  =  document.getElementById("dig4");
        }



    function checkPin() {
        if (entered_pin.length == 4 && entered_pin != saved_pin) {
            alert("Incorrect PIN");
            clearPin();
        }
    }

    function numKeys(n) {
        if (entered_pin.length < 4) {
                    entered_pin = entered_pin + n.toString();
                    selectDigit(n);
        }
        checkPin();
    }

    function backspace() {
        n = entered_pin.length;
        if (n > 0) {
            entered_pin = entered_pin.substring(0,(n-1));
            switch (entered_pin.length) {
                case 0:
                    img1.src = numToImage(10);
                    break;
                case 1:
                    img2.src = numToImage(10);
                    break;
                case 2:
                    img3.src = numToImage(10);
                    break;
                case 3:
                    img4.src = numToImage(10);
                    break;
            }
    }
    }

    function selectImage() {
        img1.src = "<%= image_path("webapp/clock/1.png") %>";
    }

    function clearPin() {
        entered_pin = "";
        img1.src = numToImage(10);
        img2.src = numToImage(10);
        img3.src = numToImage(10);
        img4.src = numToImage(10);
    }

    function selectDigit(n) {
        switch (entered_pin.length-1) {
            case 0:
                img1.src = numToImage(n);
                break;
            case 1:
                img2.src = numToImage(n);
                break;
            case 2:
                img3.src = numToImage(n);
                break;
            case 3:
                img4.src = numToImage(n);
                break;
        }
    }


    function numToImage(n) {
        var image;
        switch(n) {
            case 0:
                image = "<%= image_path("webapp/clock/0.png") %>";
                break;
            case 1:
                image = "<%= image_path("webapp/clock/1.png") %>";
                break;
            case 2:
                image = "<%= image_path("webapp/clock/2.png") %>";
                break;
            case 3:
                image = "<%= image_path("webapp/clock/3.png") %>";
                break;
            case 4:
                image = "<%= image_path("webapp/clock/4.png") %>";
                break;
            case 5:
                image = "<%= image_path("webapp/clock/5.png") %>";
                break;
            case 6:
                image = "<%= image_path("webapp/clock/6.png") %>";
                break;
            case 7:
                image = "<%= image_path("webapp/clock/7.png") %>";
                break;
            case 8:
                image = "<%= image_path("webapp/clock/8.png") %>";
                break;
            case 9:
                image = "<%= image_path("webapp/clock/9.png") %>";
                break;
            case 10:
                image = "<%= image_path("webapp/clock/dash.png") %>";
        }
        return image;
    }

    function play(){
        try{
            if(img1===null) img1  =  document.getElementById("dig1");
            if(img2===null) img2  =  document.getElementById("dig2");
            if(img3===null) img3  =  document.getElementById("dig3");
            if(img4===null) img4  =  document.getElementById("dig4");

            t = setTimeout('play()',1000);
        }catch(oEx){
            alert(oEx);
        }
    }

  </script>
</head>
<body class="GTpage page-checkin" onload="inits()">
<div class="inner">

  <header class="header" id="header">
    <a href=""><div class="no_topX"></div></a>


  </header>

  <%= yield %>

</div>

<div class="clr"></div>
<div class="Copyright"></div>
</body>
</html>