<!DOCTYPE HTML>
<html>
<head>
  <title>Guardian Trace</title>
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag 'style_mobile'%>

  <%= render "layouts/apple_webapp" %>
  <script type="text/javascript">

      var saved_pin = "0000";
      var entered_pin = "";
      var entered_hours = "00";
      var entered_mins = "00";
      var pin_count = 0;

      var img1 = null;
      var img2 = null;
      var img3 = null;
      var img4 = null;

      function inits() {
          loadGeoloc();

          if(img1===null) img1  =  document.getElementById("dig1");
          if(img2===null) img2  =  document.getElementById("dig2");
          if(img3===null) img3  =  document.getElementById("dig3");
          if(img4===null) img4  =  document.getElementById("dig4");

          document.getElementById("hours_field").value = 0;
          document.getElementById("mins_field").value = 30;
      }

      function loadGeoloc(){
          if (navigator.geolocation) {
              var timeoutVal = 10 * 1000 * 1000;
              navigator.geolocation.getCurrentPosition(
                      displayPosition,
                      displayError,
                      { enableHighAccuracy: true, timeout: timeoutVal, maximumAge: 0 }
              );
          }
          else {
              alert("Geolocation is not supported by this browser");
          }
      }

      function displayPosition(position) {
          populateInputs(position.coords.latitude,position.coords.longitude);

      }

      function displayError(error) {
          var errors = {
              1: 'Permission denied',
              2: 'Position unavailable',
              3: 'Request timeout'
          };
          alert("Error: " + errors[error.code]);
      }

      function populateInputs(lat,lng) {
          if (document.forms[0].outstanding_latitude) {
              document.getElementById("latitude").value=lat;
              document.getElementById("longitude").value=lng;
          }
          else {
              document.getElementById("latitude").value=lat;
              document.getElementById("longitude").value=lng;
          }
      }



      function checkPin() {
          n = entered_pin.length;
          entered_hours = "";
          entered_mins = "";

          switch(n) {
              case 0:
                  document.getElementById("hours_field").value = 0;
                  document.getElementById("mins_field").value = 0;
                  break;
              case 1:
                  document.getElementById("hours_field").value = entered_hours.concat(entered_pin.charAt(0), "0");
                  document.getElementById("mins_field").value = 0;
                  break;
              case 2:
                  document.getElementById("hours_field").value = entered_hours.concat(entered_pin.charAt(0), entered_pin.charAt(1));
                  document.getElementById("mins_field").value = 0;
                  break;
              case 3:
                  document.getElementById("hours_field").value = entered_hours.concat(entered_pin.charAt(0), entered_pin.charAt(1));
                  document.getElementById("mins_field").value = entered_mins.concat(entered_pin.charAt(2), "0");
                  break;
              case 4:
                  document.getElementById("hours_field").value = entered_hours.concat(entered_pin.charAt(0), entered_pin.charAt(1));
                  document.getElementById("mins_field").value = entered_mins.concat(entered_pin.charAt(2), entered_pin.charAt(3));;
                  break;
          }

      }

      function numKeys(n) {
          if (entered_pin.length < 4) {
              entered_pin = entered_pin + n.toString();
              selectDigit(n);
          }
           checkPin();
      }

      function backspace() {
          n = entered_pin.length;
          if (n > 0) {
              entered_pin = entered_pin.substring(0,(n-1));
              switch (entered_pin.length) {
                  case 0:
                      img1.src = numToImage(10);
                      break;
                  case 1:
                      img2.src = numToImage(10);
                      break;
                  case 2:
                      img3.src = numToImage(10);
                      break;
                  case 3:
                      img4.src = numToImage(10);
                      break;
              }
              checkPin();
          }
      }

      function selectImage() {
          img1.src = "<%= image_path("webapp/clock/1.png") %>";
      }

      function clearPin() {
          entered_pin = "";
          entered_hours = "";
          entered_mins = "";
          img1.src = numToImage(10);
          img2.src = numToImage(10);
          img3.src = numToImage(10);
          img4.src = numToImage(10);
          document.getElementById("hours_field").value = 0;
          document.getElementById("mins_field").value = 0;
      }

      function selectDigit(n) {
          switch (entered_pin.length-1) {
              case 0:
                  img1.src = numToImage(n);
                  break;
              case 1:
                  img2.src = numToImage(n);
                  break;
              case 2:
                  img3.src = numToImage(n);
                  break;
              case 3:
                  img4.src = numToImage(n);
                  break;
          }
      }


      function numToImage(n) {
          var image;
          switch(n) {
              case 0:
                  image = "<%= image_path("webapp/clock/0.png") %>";
                  break;
              case 1:
                  image = "<%= image_path("webapp/clock/1.png") %>";
                  break;
              case 2:
                  image = "<%= image_path("webapp/clock/2.png") %>";
                  break;
              case 3:
                  image = "<%= image_path("webapp/clock/3.png") %>";
                  break;
              case 4:
                  image = "<%= image_path("webapp/clock/4.png") %>";
                  break;
              case 5:
                  image = "<%= image_path("webapp/clock/5.png") %>";
                  break;
              case 6:
                  image = "<%= image_path("webapp/clock/6.png") %>";
                  break;
              case 7:
                  image = "<%= image_path("webapp/clock/7.png") %>";
                  break;
              case 8:
                  image = "<%= image_path("webapp/clock/8.png") %>";
                  break;
              case 9:
                  image = "<%= image_path("webapp/clock/9.png") %>";
                  break;
              case 10:
                  image = "<%= image_path("webapp/clock/dash.png") %>";
          }
          return image;
      }

      function play(){
          try{
              if(img1===null) img1  =  document.getElementById("dig1");
              if(img2===null) img2  =  document.getElementById("dig2");
              if(img3===null) img3  =  document.getElementById("dig3");
              if(img4===null) img4  =  document.getElementById("dig4");

              t = setTimeout('play()',1000);
          }catch(oEx){
              alert(oEx);
          }
      }

  </script>
</head>
<body class="GTpage page-checkin" onload="inits()">
<div class="inner">

  <header class="header" id="header">
 <div class="topX">
    <%= link_to image_tag("webapp/X.png"), logout_path %>
 </div>
    <%=  image_tag "webapp/title/countdown.jpg" %>


  </header>

  <%= yield %>

</div>

<div class="clr"></div>
<div class="Copyright"></div>
</body>
</html>