<!DOCTYPE HTML>
<html>
<head>
  <title>Guardian Trace - Dashboard</title>
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <%= stylesheet_link_tag 'style_admin'%>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
  <script type="text/javascript">
    function add_pin() {
        var the_pin = document.getElementById("password_field").value;
        document.getElementById("pin_field").value = the_pin;

    }
  </script>
</head>
<body class="GTpage">
<div class="inner">

  <header class="header" id="header">

    <div class="headerLeft"><a href="#">
      <% unless @organization.setting.dashboard_logo_file_name.nil? %>
        <%=  image_tag @organization.setting.dashboard_logo(:medium), :id => "logo", :class => "logo" %>
      <% else %>
          <%=  image_tag "images/logo.jpg", :id => "logo", :class => "logo" %>
      <% end %>
    </a></div>
    <div class="headerRight"><div class="headerByline"><a href="#">Help</a> |
      <% if current_user %>
          <% if current_user.super_user == true %>
              <%= link_to "Super Dashboard |", organizations_path %>
          <% end %>
          Logged in as <%= current_user.email %>.
          <%= link_to "Log out", admin_logout_path %>
      <% else %>
          <%= link_to "Sign up", signup_path %> or
          <%= link_to "log in", admin_login_path %>
      <% end %></div></div>

    <div class="topmenu">
      <%= link_to image_tag("images/Nav1.jpg"), organization_outstandings_path(@organization), {:class => "MenuItem1 MenuItem"} %>
      <%= link_to image_tag("images/Nav2.jpg"), expired_index_organization_outstandings_path(@organization), {:class => "MenuItem2 MenuItem"} %>
      <%= link_to image_tag("images/Nav3.jpg"), organization_users_path(@organization), {:class => "MenuItem3 MenuItem"} %>
      <%= link_to image_tag("images/Nav4.jpg"), edit_organization_setting_path(@organization, @organization.setting), {:class => "MenuItem4 MenuItem"} %>

    </div>
  </header>
  <section id="content">
    <!--start page contents-->

    <%=  yield %>





    <!--end page contents-->
  </section>
  <div class="clr"></div>
  <footer class="footer" id="footer"><a href="#">Powered by BAYTAN LABS</a></footer>
  <div class="Copyright"></div>
</div>
</body>
</html>
