<!DOCTYPE HTML>
<html>
<head>
  <title>Guardian Trace</title>
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag 'style_mobile' %>
  <%= csrf_meta_tag %>
  <%= render "layouts/apple_webapp" %>
</head>
<body class="GTpage page-login" onload="areCookiesEnabled()">
<div class="inner">

  <header class="header" id="header">
    <div class="topX">
      <%= link_to image_tag("webapp/X.png"), logout_path %>
    </div>


  </header>

  <%= yield %>


  <div class="clr"></div>
</div>
<div class="clr"></div>
<div class="Copyright"></div>
</body>
</html>