<!DOCTYPE HTML>
<html>
<head>
  <title>Guardian Trace</title>
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <%= stylesheet_link_tag 'style_mobile'%>
  <%= javascript_include_tag "application" %>
  <%= render "layouts/apple_webapp" %>
  <script type="text/javascript">
      var totalSeconds = 0;
      var deadline_seconds = 0;
      var alert_total_secs = 0;
      var alert_hours = 0;
      var alert_mins = 0;
      var h = 0;
      var m = 0;
      var s = 0;

      //totalSeconds = <%= (@outstanding.panic_deadline - Time.now).to_i %>;
      deadline_seconds = <%= @outstanding.panic_deadline.to_i %>;
      alert_hours = <%= @outstanding.deadline_hours %>;
      alert_mins = <%= @outstanding.deadline_mins %>;
      alert_total_secs = (alert_hours * 3600) + (alert_mins * 60);

      time_now = (+new Date() / 1000)|0;
      totalSeconds = deadline_seconds - time_now;

      if (alert_total_secs < totalSeconds)  {
        //  alert("this");
          deadline_seconds = alert_total_secs + time_now;
      }



      var img1 = null;
      var img2 = null;
      var img3 = null;
      var img4 = null;
      var img5 = null;
      var img6 = null;

      var t;


      function numToImage(n) {
          var image;
          switch(n) {
              case 0:
                  image = "<%= image_path("webapp/clock/0.png") %>";
                  break;
              case 1:
                  image = "<%= image_path("webapp/clock/1.png") %>";
                  break;
              case 2:
                  image = "<%= image_path("webapp/clock/2.png") %>";
                  break;
              case 3:
                  image = "<%= image_path("webapp/clock/3.png") %>";
                  break;
              case 4:
                  image = "<%= image_path("webapp/clock/4.png") %>";
                  break;
              case 5:
                  image = "<%= image_path("webapp/clock/5.png") %>";
                  break;
              case 6:
                  image = "<%= image_path("webapp/clock/6.png") %>";
                  break;
              case 7:
                  image = "<%= image_path("webapp/clock/7.png") %>";
                  break;
              case 8:
                  image = "<%= image_path("webapp/clock/8.png") %>";
                  break;
              case 9:
                  image = "<%= image_path("webapp/clock/9.png") %>";
                  break;
          }
          return image;
      }



      function play(){
          try{
              if(img1===null) img1  =  document.getElementById("dig1");
              if(img2===null) img2  =  document.getElementById("dig2");
              if(img3===null) img3  =  document.getElementById("dig3");
              if(img4===null) img4  =  document.getElementById("dig4");
              if(img5===null) img5  =  document.getElementById("dig5");
              if(img6===null) img6  =  document.getElementById("dig6");

              time_now = (+new Date() / 1000)|0;
              /*totalSeconds = totalSeconds - 1; */
              totalSeconds = deadline_seconds - time_now;

              s = totalSeconds % 60;
             h = ((totalSeconds - s) / 3600)|0;
             m = ((totalSeconds - (h * 3600) - s) / 60)|0;

              if (h > 9) {
                  img1.src = numToImage(((h/10)|0));
                  img2.src = numToImage(h % 10);
              } else {
                  img1.src = numToImage(0);
                  img2.src = numToImage(h);
              }
              if (m > 9) {
                  img3.src = numToImage(((m/10)|0));
                  img4.src = numToImage(m % 10);
              } else {
                  img3.src = numToImage(0);
                  img4.src = numToImage(m);
              }
              if (s > 9) {
                  img5.src = numToImage(((s/10)|0));
                  img6.src = numToImage(s % 10);
              } else {
                  img5.src = numToImage(0);
                  img6.src = numToImage(s);
              }

             if (totalSeconds <= 0) {
                  window.location="../../../alert.html"
                  clearTimeout(t);
                  return;
              }

          t = setTimeout('play()',1000);
          }catch(oEx){
              alert(oEx);
          }
      }

  </script>
</head>
<body class="GTpage page-countdown" onload="play()">
<div class="inner">

  <header class="header" id="header">
    <a href=""><div class="no_topX"></div></a>


  </header>

  <%= yield %>

</div> <div class="clr"></div>
<div class="Copyright"></div>

</body>
</html>
