<!DOCTYPE HTML>
<html>
<head>
  <title>Guardian Trace</title>
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag 'style_mobile'%>
  <%= render "layouts/apple_webapp" %>
  <script type="text/javascript">

        var saved_pin = "<%= current_user.pin%>";
        var entered_pin = "";
        var pin_count = 0;

        var img1 = null;
        var img2 = null;
        var img3 = null;
        var img4 = null;

        function inits() {

        if(img1===null) img1  =  document.getElementById("dig1");
        if(img2===null) img2  =  document.getElementById("dig2");
        if(img3===null) img3  =  document.getElementById("dig3");
        if(img4===null) img4  =  document.getElementById("dig4");
        }

        function add_pin() {
            var the_pin = document.getElementById("password_field").value;
            document.getElementById("pin_field").value = entered_pin;
            document.getElementById("password_field").value = entered_pin;
            document.getElementById("conf_field").value = entered_pin;

        }




    function numKeys(n) {
        if (entered_pin.length < 4) {
                    entered_pin = entered_pin + n.toString();
                    selectDigit(n);
        }
        add_pin()
    }

    function backspace() {
        n = entered_pin.length;
        if (n > 0) {
            entered_pin = entered_pin.substring(0,(n-1));
            switch (entered_pin.length) {
                case 0:
                    img1.src = numToImage(10);
                    break;
                case 1:
                    img2.src = numToImage(10);
                    break;
                case 2:
                    img3.src = numToImage(10);
                    break;
                case 3:
                    img4.src = numToImage(10);
                    break;
            }
            add_pin()
        }
    }

    function selectImage() {
        img1.src = "<%= image_path("webapp/clock/1.png") %>";
    }

    function clearPin() {
        entered_pin = "";
        img1.src = numToImage(10);
        img2.src = numToImage(10);
        img3.src = numToImage(10);
        img4.src = numToImage(10);
        add_pin()
    }

    function selectDigit(n) {
        switch (entered_pin.length-1) {
            case 0:
                img1.src = numToImage(n);
                break;
            case 1:
                img2.src = numToImage(n);
                break;
            case 2:
                img3.src = numToImage(n);
                break;
            case 3:
                img4.src = numToImage(n);
                break;
        }
    }


    function numToImage(n) {
        var image;
        switch(n) {
            case 0:
                image = "<%= image_path("webapp/clock/0.png") %>";
                break;
            case 1:
                image = "<%= image_path("webapp/clock/1.png") %>";
                break;
            case 2:
                image = "<%= image_path("webapp/clock/2.png") %>";
                break;
            case 3:
                image = "<%= image_path("webapp/clock/3.png") %>";
                break;
            case 4:
                image = "<%= image_path("webapp/clock/4.png") %>";
                break;
            case 5:
                image = "<%= image_path("webapp/clock/5.png") %>";
                break;
            case 6:
                image = "<%= image_path("webapp/clock/6.png") %>";
                break;
            case 7:
                image = "<%= image_path("webapp/clock/7.png") %>";
                break;
            case 8:
                image = "<%= image_path("webapp/clock/8.png") %>";
                break;
            case 9:
                image = "<%= image_path("webapp/clock/9.png") %>";
                break;
            case 10:
                image = "<%= image_path("webapp/clock/dash.png") %>";
        }
        return image;
    }

    function play(){
        try{
            if(img1===null) img1  =  document.getElementById("dig1");
            if(img2===null) img2  =  document.getElementById("dig2");
            if(img3===null) img3  =  document.getElementById("dig3");
            if(img4===null) img4  =  document.getElementById("dig4");

            t = setTimeout('play()',1000);
        }catch(oEx){
            alert(oEx);
        }
    }

  </script>
</head>
<body class="GTpage page-checkin" onload="inits()">
<div class="inner">

  <header class="header" id="header">
    <div class="topX">
    <%= link_to image_tag("webapp/X.png"), logout_path %>
        </div>


  </header>

  <section id="content">
    <!--start page contents-->

    <!-- area: clock readout -->
    Choose New PIN:
    <div class="checkin-counter">
      <%=  image_tag "webapp/clock/dash.png", :id => "dig1" %>
      <%=  image_tag "webapp/clock/dash.png", :id => "dig2" %>
      <%=  image_tag "webapp/clock/dash.png", :id => "dig3" %>
      <%=  image_tag "webapp/clock/dash.png", :id => "dig4" %>
    </div>




    <!-- area: main -->
    <div id="whole" class="Main ColWhole">
      <div class="checkin-numpad">
        <form name="pin_pad">
          <input type="button" onclick="numKeys(1)" class="nbutton n1"/>
          <input type="button" onclick="numKeys(2)" class="nbutton n2"/>
          <input type="button" onclick="numKeys(3)" class="nbutton n3"/>
          <br />
          <input type="button" onclick="numKeys(4)" class="nbutton n4"/>
          <input type="button" onclick="numKeys(5)" class="nbutton n5"/>
          <input type="button" onclick="numKeys(6)" class="nbutton n6"/>
          <br />
          <input type="button" onclick="numKeys(7)" class="nbutton n7"/>
          <input type="button" onclick="numKeys(8)" class="nbutton n8"/>
          <input type="button" onclick="numKeys(9)" class="nbutton n9"/>
          <br />
          <input type="button" onclick="backspace()" class="nbutton n10"/>
          <input type="button" onclick="numKeys(0)" class="nbutton n11"/>
          <input type="button" onclick="clearPin()" class="nbutton n12">
          <br />
        </form>

        <div class="clr"></div>

      </div>
      <div class="clr"></div>
    </div>

    <div class="clr"></div>

    <!--end page contents-->
  </section>
  <div class="clr"></div>
  <footer class="footer" id="footer">
    <div>
      <%= form_for([@organization, @user])  do |f| %>
          <%= f.hidden_field :password, :id => "password_field", :onchange => "add_pin()" %>
          <%= f.hidden_field :password_confirmation, :id => "conf_field"  %>
          <%= f.hidden_field :pin, :id => "pin_field" %>
          <%= f.hidden_field :registered, :value => true %>

          <div class="button-activate"><%= f.submit "  ", :class => "button-activate-hidden" %></div>
      <% end %>

    </div>
  </footer>


</div>

<div class="clr"></div>
<div class="Copyright"></div>
</body>
</html>