<!DOCTYPE HTML>
<html>
<head>
  <title>Guardian Trace - Dashboard</title>
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <%= stylesheet_link_tag 'style_admin'%>
  <style type="text/css">
      .loginScreen .Col2 .LogLeft{text-align: left;}
  </style>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
  <script type="text/javascript">
    function add_pin() {
        var the_pin = document.getElementById("password_field").value;
        document.getElementById("pin_field").value = the_pin;

    }
  </script>
</head>
<body class="GTpage">
<div class="inner">

  <header class="header" id="header">

    <div class="headerLeft"><a href="#"><%=  image_tag "images/logo.jpg", :id => "logo", :class => "logo" %></a></div>
    <div class="headerRight"><div class="headerByline"><a href="#">Help</a> |
      <% if current_user %>
          Logged in as <%= current_user.email %>.
          <%= link_to "Log out", admin_logout_path %>
      <% else %>
          <%= link_to "Sign up", signup_path %> or
          <%= link_to "log in", admin_login_path %>
      <% end %></div></div>


  </header>
  <section id="content">
    <!--start page contents-->

    <%=  yield %>





    <!--end page contents-->
  </section>
  <div class="clr"></div>
  <footer class="footer" id="footer"><a href="#">Powered by BAYTAN LABS</a></footer>
  <div class="Copyright"></div>
</div>
</body>
</html>
