<!DOCTYPE HTML>
<html>
<head>
  <title>Guardian Trace - Dashboard</title>
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <%= stylesheet_link_tag 'style_admin'%>
  <style type="text/css">
      .loginScreen .Col2 .LogLeft{float:left;width:50%;margin:0px;padding:4px;clear:both;font-size:22px;text-align:left; }
      .loginScreen .Col2 .LogRight{float:right;width:40%;margin:0px;padding:4px;}
  </style>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
  <script type="text/javascript">
    function add_pin() {
        var the_pin = document.getElementById("password_field").value;
        document.getElementById("pin_field").value = the_pin;

    }
  </script>
</head>
<body class="GTpage">
<div class="inner">

  <header class="header" id="header">

    <div class="headerLeft"><a href="#"><%=  image_tag "images/logo.jpg", :id => "logo", :class => "logo" %></a></div>
    <div class="headerRight"><div class="headerByline"><a href="#">Help</a> |
      <% if current_user %>
          <% if current_user.super_user == true %>
              <%= link_to "Super Dashboard |", organizations_path %>
          <% end %>
          Logged in as <%= current_user.email %>.
          <%= link_to "Log out", admin_logout_path %>
      <% else %>
          <%= link_to "Sign up", signup_path %> or
          <%= link_to "log in", admin_login_path %>
      <% end %></div></div>


  </header>
  <section id="content">
    <!--start page contents-->

    <!-- area: main -->



    <!-- area: main -->
    <div id="whole" class="Main ColWhole">

      <!-- UI: login -->

      <div class="loginScreen graybox">


        <div class="Col2">
          <h1>Login</h1><hr />
          <%= form_for([@organization, @user])  do |f| %>
              <div class="LogLeft"> <label>Pin</label></div>
              <div class="LogRight"> <%= f.password_field :password, :size => 4, :id => "password_field", :onchange => "add_pin()" %></div>
              <div class="clr"></div>
              <div class="LogLeft"> <label>Pin Confirmation</label></div>
              <div class="LogRight"> <%= f.password_field :password_confirmation, :size => 4, :id => "conf_field" %>
                <%= f.hidden_field :pin, :id => "pin_field" %></div>
              <div class="clr"></div>


              <hr />

              <%= f.submit "Save Pin", { :name => "1", :id => "LoginButton"} %>
          <% end %>

        </div>
        <div class="clr"></div>
      </div>

      <div class="clr"></div>




    </div>






    <!--end page contents-->
  </section>
  <div class="clr"></div>
  <footer class="footer" id="footer"><a href="#">Powered by BAYTAN LABS</a></footer>
  <div class="Copyright"></div>
</div>
</body>
</html>
